#containerExtend{
    margin: 0%;
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93vw;
}

#weatherCardExtend{
    height: 300px;
    background-color:#e5e6e5d7 ;
    margin-left:  4vw;
    margin-right: 1vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    justify-content: space-around;
    color: #4b4a4d;
}
#weatherCardExtend:hover{
    cursor:pointer;
}